<th:block th:fragment="header">
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#">+3 098 76 54 321</a></li>
                                    <li><a href="#">Пн - Сб 10:00 - 20:00</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 ">
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="/">
                                    <img src="/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><button class="boxed-btn5 modal-btn" >Записатися</button></li>
                                        <li><a href="/"><span class="bold">Головна</span></a></li>
                                        </li>
                                        <li><a href="/about_us"><span class="bold">Про нас</span></a></li>
                                        <li><a href="/service"><span class="bold">Послуги</span></a></li>
                                        <li><a href="/contact"><span class="bold">Контакти</span></a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

</th:block>

<th:block th:fragment="footer">
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3>
                            Зв'яжіться з нами
                        </h3>
                        <ul class="address_line">
                            <li>+3 098 76 54 321 </li>
                            <li><a href="#">support@gmail.com</a></li>
                            <li>Проспект Левка Лук'яненка, 18-А, Чернігів, Чернігівська область, 14000</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3  col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3>
                            Інші посилання
                        </h3>
                        <ul class="links">
                            <li><a href="#">Страхування домашніх тварин</a></li>
                            <li><a href="#">Інтернет-магазин</a></li>
                            <li><a href="#">Онлайн консультація</a></li>
                            <li><a href="#">Оплата</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3  col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 >
                            Швидкі посилання
                        </h3>
                        <ul class="links">
                            <li><a href="#">Про нас </a></li>
                            <li><a href="#">Політика конфіденційності</a></li>
                            <li><a href="#">Умови використання</a></li>
                            <li><a href="#">База знань </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="/img/logo.png" alt="">
                            </a>
                        </div>
                        <p class="address_text">Проспект Левка Лук'яненка, 18-А, Чернігів, Чернігівська область
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</th:block>