<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Головна сторінка</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<div th:replace="/fragments/menu::header"></div>
<div th:replace="/fragments/query::query"></div>
<div class="content">

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider slider_bg_1 d-flex align-items-center"
             style="background-image:url(/img/home/banner.png)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="slider_text">
                            <h3><span>Дбаємо</span><br>про ваших улюбленців</h3>
                            <p>Вузькопрофільна та терапевтична
                                <br>консультація ветеринара.</p>
                            <button  class="modal-btn boxed-btn4">Записатися</button>
<!--                            <a href="/email/query" class=" "></a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="dog_thumb d-none d-lg-block">
                <img th:src="@{/img/home/dog.png}" alt="">
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!--        <div class="elem"> Click me to open popup window       </div>-->
    <!--        <div class="popup_container">-->
    <!--            <div class="popup">-->
    <!--                -->
    <!--            </div>-->
    <!--        </div>-->




    <!-- service_area_start  -->
    <div class="service_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-7 col-md-10">
                    <div class="section_title text-center mb-95">
                        <h3 class="elem">Послуги для кожного</h3>
                        <p>Дуже важливо піклуватися про пацієнта, і за пацієнтом буде слідувати пацієнт, але це час
                            великого болю та страждань.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="service_thumb  d-flex align-items-center justify-content-center">
                            <div class="service_icon">
                                <img src="img/service/Ресурс1.png" alt="">
                            </div>
                        </div>
                        <div class="service_content text-center">
                            <h3>Послуги для кожного</h3>
                            <p>Для клієнта дуже важливо знати про потреби клієнта, але це те саме, що відбувається
                                одночасно</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service active">
                        <div class="service_thumb  d-flex align-items-center justify-content-center">
                            <div class="service_icon">
                                <img src="img/service/Ресурс2.png" alt="">
                            </div>
                        </div>
                        <div class="service_content text-center">
                            <h3>Здорове харчування</h3>
                            <p>Для клієнта дуже важливо знати про потреби клієнта, але це те саме, що відбувається
                                одночасно</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single_service">
                        <div class="service_thumb  d-flex align-items-center justify-content-center">
                            <div class="service_icon">
                                <img src="img/service/Ресурс3.png" alt="">
                            </div>
                        </div>
                        <div class="service_content text-center">
                            <h3>Діагностика</h3>
                            <p>Для клієнта дуже важливо знати про потреби клієнта, але це те саме, що відбувається
                                одночасно</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service_area_end -->

    <!-- pet_care_area_start  -->
    <div class="pet_care_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6">
                    <div class="pet_thumb">
                        <img src="img/about/pet_care.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1 col-md-6">
                    <div class="pet_info">
                        <div class="section_title">
                            <h3><span>Ми дбаємо про Вашого улюбленця та,</span><br>
                                цінуємо кожного.</h3>
                            <p>Вони відбуваються лише одночасно з великою роботою та болем.
                                Хто сам призупинив баскетбол? Гарний сміх
                                мультфільми .</p>
                            <a href="/about_us" class="boxed-btn3">Про нас</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- pet_care_area_end  -->

    <!-- adapt_area_start  -->
    <div class="adapt_area">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5">
                    <div class="adapt_help">
                        <div class="section_title">
                            <h3><span>Кожному потрібна</span>
                                допомога</h3>
                            <p>Це дуже болісно, але це лише питання часу, коли виникнуть великі болі та страждання.
                                Який сам призупинив баскетбол.</p>
                            <a href="/contact" class="boxed-btn3">Зв'яжіться з нами</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="adapt_about">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-6">
                                <div class="single_adapt text-center">
                                    <img src="img/adapt_icon/1.png" alt="">
                                    <div class="adapt_content">
                                        <h3 class="counter">452</h3>
                                        <p>Всі наші пацієнти</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="single_adapt text-center">
                                    <img src="img/adapt_icon/3.png" alt="">
                                    <div class="adapt_content">
                                        <h3><span class="counter">102</span>+</h3>
                                        <p>Малюки</p>
                                    </div>
                                </div>
                                <div class="single_adapt text-center">
                                    <img src="img/adapt_icon/2.png" alt="">
                                    <div class="adapt_content">
                                        <h3><span class="counter">52</span>+</h3>
                                        <p>Екзотичні тваринки</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- adapt_area_end  -->

    <!-- testmonial_area_start  -->
    <!--    <div class="testmonial_area">-->
    <!--        <div class="container">-->
    <!--            <div class="row justify-content-center">-->
    <!--                <div class="col-lg-10">-->
    <!--                    <div class="textmonial_active owl-carousel">-->
    <!--                        <div class="testmonial_wrap">-->
    <!--                            <div class="single_testmonial d-flex align-items-center">-->
    <!--                                <div class="test_thumb">-->
    <!--                                    <img src="img/testmonial/1.png" alt="">-->
    <!--                                </div>-->
    <!--                                <div class="test_content">-->
    <!--                                    <h4>Walker</h4>-->
    <!--                                    <span>Head of web design</span>-->
    <!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="testmonial_wrap">-->
    <!--                            <div class="single_testmonial d-flex align-items-center">-->
    <!--                                <div class="test_thumb">-->
    <!--                                    <img src="img/testmonial/1.png" alt="">-->
    <!--                                </div>-->
    <!--                                <div class="test_content">-->
    <!--                                    <h4>Jhon</h4>-->
    <!--                                    <span>Head of web design</span>-->
    <!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                        <div class="testmonial_wrap">-->
    <!--                            <div class="single_testmonial d-flex align-items-center">-->
    <!--                                <div class="test_thumb">-->
    <!--                                    <img src="img/testmonial/1.png" alt="">-->
    <!--                                </div>-->
    <!--                                <div class="test_content">-->
    <!--                                    <h4>Jhon Walker</h4>-->
    <!--                                    <span>Head of web design</span>-->
    <!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci.</p>-->
    <!--                                </div>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->

    <!--        </div>-->
    <!--    </div>-->
    <!-- testmonial_area_end  -->

    <!-- team_area_start  -->
    <div class="team_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-6 col-md-10">
                    <div class="section_title text-center mb-95">
                        <h3>Наша команда</h3>
                        <p>Очень важно заботиться о пациенте, и пациент будет следовать за пациентом, но это время
                            великой боли и страданий.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!--                <div class="col-lg-4 col-md-6">-->
                <!--                    <div class="single_team">-->
                <!--                        <div class="thumb">-->
                <!--                            <img src="img/team/1.png" alt="">-->
                <!--                        </div>-->
                <!--                        <div class="member_name text-center">-->
                <!--                            <div class="mamber_inner">-->
                <!--                                <h4>Rala Emaia</h4>-->
                <!--                                <p>Senior Director</p>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div class="col-lg-4 col-md-6" th:each="staffer : ${staffers}">
                    <div class="single_team">
                        <div class="thumb">
                            <img th:src="${path}+${staffer.getPhotos()}" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4 th:text="${staffer.getFullName()}"></h4>
                                <p>
                                    <span>|</span>
                                    <span th:each="s : ${staffer.getSpecializations()}">
                                    <span th:text="${s.getName()}+' |'"></span>
                                        </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team_area_start  -->

    <div class="contact_anipat anipat_bg_1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact_text text-center">
                        <div class="section_title text-center">
                            <h3>Чому саме ми?</h3>
                            <p>Оскільки ми знаємо, що навіть найкраща технологія настільки хороша, наскільки хороші
                                люди, які за нею стоять. Онлайн запис 24/7.</p>
                        </div>
                        <div class="contact_btn d-flex align-items-center justify-content-center">
                            <button class="modal-btn boxed-btn4">Записатися</button>
                            <p>або <a href="#"> +3 098 76 54 321</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer_start  -->
<div th:replace="~{/fragments/menu::footer}"></div>
<!-- footer_end  -->


<!-- JS here -->
<script src="js/vendor/modernizr-3.5.0.min.js"></script>
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/isotope.pkgd.min.js"></script>
<script src="js/ajax-form.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/scrollIt.js"></script>
<script src="js/jquery.scrollUp.min.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/nice-select.min.js"></script>
<script src="js/jquery.slicknav.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/gijgo.min.js"></script>

<!--contact js-->
<script src="js/contact.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>

<script src="js/main.js"></script>
<script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        disableDaysOfWeek: [0, 0],
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }

    });
    var timepicker = $('#timepicker').timepicker({
        format: 'HH.MM'
    });
</script>
</body>

</html>